body{
	background: url('yyy.jpg');
	background-size: cover;
font-family:serif;
}	
.wrap
{
	max-width: 350px;
	max-height: 500px;
	border-radius: 20px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	box-sizing:border-box;
	padding: 40px;
	color:#eee;
	margin-top: 50px;
	
}
h2{
text-align: center;
color: #aaa;

}

input[type=text],input[type=password],input[type=email],input[type=date]
{
		width: 100%;
		box-sizing: border-box;
		padding:12px 4px;
		background: rgba(0,0,0,0.20);
		border: 1px;
		outline:none;
		border-bottom: 1px dotted #fff;
		color:#eee;
		border-radius: 5px;
		margin: 5px;
		font-weight: bold;

}
input[type='submit'] 
{
width:100% ;
box-sizing: border-box;
padding: 10px 0;
margin-top: 30px;
outline: none;
border: none;
background: #60adde;
opacity: 0.7;
border-radius: 20px;
font-size: 20px;
color: #fff;

}
input[type='submit']:hover{

background: #003366;
opacity: 0.7;


}